{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
         {% for i in list %}
        <div class="col-md-6"><br>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="100px" height="260px">
                <div class="card-body">
                 <h5 class="card-title">{{i.name}}</h5>
<!--                 <p class="card-text">{{i.desc}}</p>-->
                 <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">View Details</a> <br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<!--<a href="{{i.id}}">  this is one method to get the path  -->
<!--<center>-->
<!--Another method-->


<!--    <img src="{{i.img.url}}" width="180" height="160"> <br>-->
<!--    {{i.id}}) {{i.name}}<br> </a>-->



<!--</center>-->

 {% endblock %}
